/ProjectPengubinan/nbproject/private/
/ProjectPengubinan/build/
/ProjectLuasBangunKompleks/nbproject/private/
/ProjectLuasBangunKompleks/build/
/ProjectOverloading/nbproject/private/
/ProjectOverloading/build/
/ProjectAdvancedOperasi/nbproject/private/
/ProjectAdvancedOperasi/build/
/ProjectBangunDatar2/nbproject/private/
/ProjectBangunDatar2/build/
/project/nbproject/private/
/project/build/
/PythagorasProject/nbproject/private/
/PythagorasProject/build/
/GameTebakAngkaProject/nbproject/private/
/GameTebakAngkaProject/build/